@font-face {
  font-family: 'odyssey-font';
  src:  url('fonts/odyssey-font.eot?y4xhx5');
  src:  url('fonts/odyssey-font.eot?y4xhx5#iefix') format('embedded-opentype'),
    url('fonts/odyssey-font.ttf?y4xhx5') format('truetype'),
    url('fonts/odyssey-font.woff?y4xhx5') format('woff'),
    url('fonts/odyssey-font.svg?y4xhx5#odyssey-font') format('svg');
  font-weight: normal;
  font-style: normal;
}

.odsy {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'odyssey-font' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.odsy-font-size:before {
  content: "\e910";
}
.odsy-link:before {
  content: "\e932";
}
.odsy-list-number:before {
  content: "\e934";
}
.odsy-list-bullets:before {
  content: "\e938";
}
.odsy-money:before {
  content: "\e90c";
}
.odsy-connection:before {
  content: "\e931";
}
.odsy-delete:before {
  content: "\e92a";
}
.odsy-cross:before {
  content: "\e919";
}
.odsy-arrow_drop_down:before {
  content: "\e5c5";
}
.odsy-attachment:before {
  content: "\e0f7";
}
.odsy-check:before {
  content: "\e206";
}
.odsy-close:before {
  content: "\e209";
}
.odsy-radio_button_unchecked:before {
  content: "\e25e";
}
.odsy-highlight_remove:before {
  content: "\e29c";
}
.odsy-info_outline:before {
  content: "\e2a3";
}
.odsy-chevron_left:before {
  content: "\e900";
}
.odsy-chevron_right:before {
  content: "\e901";
}
.odsy-ic_warning_black_48px:before {
  content: "\e902";
}
.odsy-alert:before {
  content: "\e903";
}
.odsy-android:before {
  content: "\e904";
}
.odsy-apple:before {
  content: "\e905";
}
.odsy-assignment-late:before {
  content: "\e907";
}
.odsy-assignment-ok:before {
  content: "\e908";
}
.odsy-attachment2:before {
  content: "\e909";
}
.odsy-bell:before {
  content: "\e90a";
}
.odsy-calendar:before {
  content: "\e90b";
}
.odsy-camera:before {
  content: "\e90d";
}
.odsy-close2:before {
  content: "\e90e";
}
.odsy-attachment3:before {
  content: "\e90f";
}
.odsy-face:before {
  content: "\e911";
}
.odsy-favorite:before {
  content: "\e912";
}
.odsy-home:before {
  content: "\e913";
}
.odsy-home-1:before {
  content: "\e914";
}
.odsy-left:before {
  content: "\e915";
}
.odsy-lock:before {
  content: "\e916";
}
.odsy-menu:before {
  content: "\e917";
}
.odsy-menu-2:before {
  content: "\e918";
}
.odsy-open:before {
  content: "\e91a";
}
.odsy-plus:before {
  content: "\e91b";
}
.odsy-search:before {
  content: "\e91c";
}
.odsy-search-2:before {
  content: "\e91d";
}
.odsy-settings:before {
  content: "\e91e";
}
.odsy-smile:before {
  content: "\e91f";
}
.odsy-time:before {
  content: "\e920";
}
.odsy-folder-download:before {
  content: "\e922";
}
.odsy-folder-upload:before {
  content: "\e923";
}
.odsy-bubble:before {
  content: "\e924";
}
.odsy-bubbles:before {
  content: "\e925";
}
.odsy-airplane:before {
  content: "\e926";
}
.odsy-warning:before {
  content: "\e927";
}
.odsy-notification:before {
  content: "\e928";
}
.odsy-info:before {
  content: "\e929";
}
.odsy-checkmark:before {
  content: "\e92b";
}
.odsy-radio-unchecked:before {
  content: "\e92c";
}
.odsy-times-circle-o:before {
  content: "\f05c";
}
.odsy-check-circle-o:before {
  content: "\f05d";
}
.odsy-paperclip:before {
  content: "\f0c6";
}
.odsy-circle-o:before {
  content: "\f10c";
}
.odsy-circle-o-notch:before {
  content: "\f1ce";
}
.odsy-right-arrow:before {
  content: "\e92d";
}
.odsy-leave_export:before {
  content: "\e92e";
}
.odsy-edit:before {
  content: "\e930";
}
.odsy-Loader:before {
  content: "\e921";
}
.odsy-calendar-today:before {
  content: "\e933";
}
.odsy-payroll:before {
  content: "\e935";
}
.odsy-manage_user:before {
  content: "\e936";
}
.odsy-local_airport:before {
  content: "\e937";
}
.odsy-assignment:before {
  content: "\e906";
}
.odsy-media-icon:before {
  content: "\e92f";
}

