$odsy-trash2: "\e92d";
$odsy-attachment: "\e0f7";
$odsy-local_airport: "\e1d5";
$odsy-check: "\e206";
$odsy-close: "\e209";
$odsy-circle-1: "\e25e";
$odsy-highlight_remove: "\e29c";
$odsy-info_outline: "\e2a3";
$odsy-chevron-left: "\e900";
$odsy-chevron-right: "\e901";
$odsy-warning-triangle: "\e902";
$odsy-alert: "\e903";
$odsy-android: "\e904";
$odsy-apple: "\e905";
$odsy-assignment: "\e906";
$odsy-assignment-late: "\e907";
$odsy-assignment-ok: "\e908";
$odsy-attachment2: "\e909";
$odsy-bell: "\e90a";
$odsy-calendar: "\e90b";
$odsy-calendar-today: "\e90c";
$odsy-close2: "\e90e";
$odsy-edit: "\e910";
$odsy-face: "\e911";
$odsy-favorite: "\e912";
$odsy-home: "\e913";
$odsy-home-1: "\e914";
$odsy-left: "\e915";
$odsy-lock: "\e916";
$odsy-menu: "\e917";
$odsy-menu-2: "\e918";
$odsy-money: "\e919";
$odsy-open: "\e91a";
$odsy-plus: "\e91b";
$odsy-search: "\e91c";
$odsy-search-2: "\e91d";
$odsy-settings: "\e91e";
$odsy-smile: "\e91f";
$odsy-time: "\e920";
$odsy-trash: "\e921";
$odsy-folder-download: "\e922";
$odsy-folder-upload: "\e923";
$odsy-comment: "\e924";
$odsy-chat: "\e925";
$odsy-airplane: "\e926";
$odsy-camera: "\e90d";
$odsy-attachment3: "\e90f";
$odsy-warning: "\e927";
$odsy-notification: "\e928";
$odsy-info: "\e929";
$odsy-cross: "\e92a";
$odsy-checkmark: "\e92b";
$odsy-circle-2: "\e92c";
$odsy-times-circle-o: "\f05c";
$odsy-check-circle-o: "\f05d";
$odsy-paperclip: "\f0c6";
$odsy-circle-o: "\f10c";
$odsy-circle-o-notch: "\f1ce";
